<h2><%= name %></h2>

<table class="records-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day<br></th>
      <th>Bench<br>3x5</th>
      <th>Overhead<br>3x5</th>
      <th>Incline<br>3x5</th>
      <th>Lateral<br>3x10-12</th>
      <th>Pushdown<br>3x10-12</th>
      <th>Tricep<br>3x10-12</th>
      <th>Shrugs<br>3x10-12</th>
    </tr>
  </thead>

  <tbody>
    <% @gains.where(name: name, day: "Push").each do |gain| %>
      <tr>
        <td><%= gain.created_at.strftime("%d %b. %Y") %></td>
        <td><%= gain.day %></td>
        <td><%= gain.bench %></td>
        <td><%= gain.overhead %></td>
        <td><%= gain.incline %></td>
        <td><%= gain.lateral %></td>
        <td><%= gain.pushdown %></td>
        <td><%= gain.tricep %></td>
        <td><%= gain.shrugs %></td>
        <!-- <td><%= link_to 'Show', gain %></td> -->
        <td><%= link_to 'Edit', edit_gain_path(gain) %></td>
        <td><%= link_to 'Destroy', gain, method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="records-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day<br></th>
      <th>Rows<br>3x5</th>
      <th>Lat Pulldown<br>3x8-10</th>
      <th>More Rows<br>3x8-10</th>
      <th>Face-Pulls<br>3x10-12</th>
      <th>Barbell Curls<br>4x10-12</th>
      <th>Other Curls<br>3x10-12</th>
    </tr>
  </thead>

  <tbody>
    <% @gains.where(name: name, day: "Pull").each do |gain| %>
      <tr>
        <td><%= gain.created_at.strftime("%d %b. %Y") %></td>
        <td><%= gain.day %></td>
        <td><%= gain.row %></td>
        <td><%= gain.pulldown %></td>
        <td><%= gain.seatedrows %></td>
        <td><%= gain.facepull %></td>
        <td><%= gain.curls %></td>
        <td><%= gain.hammercurls %></td>
        <!-- <td><%= link_to 'Show', gain %></td> -->
        <td><%= link_to 'Edit', edit_gain_path(gain) %></td>
        <td><%= link_to 'Destroy', gain, method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="records-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day<br></th>
      <th>OG Squats<br>4x5-6</th>
      <th>Leg Press<br>3x8-10</th>
      <th>Quads<br>3x10-12</th>
      <th>Hammies<br>3x10-12</th>
      <th>Baby Calfs<br>5x10-12</th>
    </tr>
  </thead>

  <tbody>
    <% @gains.where(name: name, day: "Legs").each do |gain| %>
      <tr>
        <td><%= gain.created_at.strftime("%d %b. %Y") %></td>
        <td><%= gain.day %></td>
        <td><%= gain.squats %></td>
        <td><%= gain.legpress %></td>
        <td><%= gain.quads %></td>
        <td><%= gain.hamstring %></td>
        <td><%= gain.calf %></td>
        <!-- <td><%= link_to 'Show', gain %></td> -->
        <td><%= link_to 'Edit', edit_gain_path(gain) %></td>
        <td><%= link_to 'Destroy', gain, method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to 'New Gain', new_gain_path %>
